{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1>Добро пожаловать в систему управления пользователями</h1>
    {% if current_user.is_authenticated %}
      <p>Вы вошли как: <strong>{{ current_user.login }}</strong></p>
      <div class="d-grid gap-2 col-6 mx-auto">
        {% if current_user.role == 'Administrator' %}
          <a href="{{ url_for('auth.list_users') }}" class="btn btn-primary btn-lg">Управление пользователями</a>
        {% endif %}
        <a href="{{ url_for('logs.index') }}" class="btn btn-secondary btn-lg">Журнал посещений</a>
        <a href="{{ url_for('auth.view_user', user_id=current_user.id) }}" class="btn btn-info btn-lg">Мой профиль</a>
        <a href="{{ url_for('auth.change_password') }}" class="btn btn-warning btn-lg">Изменить пароль</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger btn-lg">Выйти</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
